a {
   color: darkgoldenrod;
   text-decoration: none;
}

body {
   background-color: gainsboro;
   display: inline-block;
   font-family: 'Courier New', Courier, monospace;
   margin: 0px;
}

button {
   background-color: lightcoral;
   border: whitesmoke;
   border-radius: 5px;
   box-shadow: 5px 5px;
   cursor: pointer;
   height: 25px;
   margin: 10px;
   transition: .3s;
}

button:hover {
   background: none;
   box-shadow: none;
}

div {
   background-color: lightcoral;
   border-radius: 5px;
   box-shadow: 5px 5px;
   margin: 10px;
   padding: 5px;
}

header {
   background-color: lightgoldenrodyellow;
   margin-bottom: 10px;
   padding: 25px;
   width: 100%;
}

header button {
   text-align: right;
}

h1 {
   display: inline;
}

input {
   border: none;
   border-radius: 5px;
   margin: 10px;
   padding: 5px;
}

p {
   border-radius: 5px;
   font-family: Verdana;
   font-size: medium;
   padding: 5px;
}

th {
   border-bottom-style: 10px dotted;
   border-color: whitesmoke;
   border-right-style: 10px dotted;
   padding: 10px;
   text-align: left;
}

select {
   border: none;
   border-radius: 5px;
}

#boxes {
   display: none;
}

#searchBar {
   width: 75%;
}

#searchQ {
   box-shadow: 5px 5px;
   width: 75%;
}
